node_modules*/
canvas/*
config.json
permissions.json
data*/
info.json
**/.DS_Store
yarn.lock
package-lock.json
Mr\.Fox\.code-workspace

MrFox\.code-workspace

mrFox-linux

mrFox-macos

mrFox-win\.exe
